---
---

$font-color: {{ site.data.style.font-color }};
$background-color: {{ site.data.style.background-color }};
$brand-color: {{ site.data.style.brand-color }};
$link-color: {{ site.data.style.link-color }};

$tiny-margin: 0.5rem;
$standard-margin: 1rem;
$big-margin: 1.5rem;
$bigger-margin: 2rem;

/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-SemiboldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("{{ site.baseurl }}/fonts/OpenSans-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

/* Style
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 30px 0;
}

#logo {
  height: 90px;
  padding-right: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.no-left-margin {
  padding-left: 0;
}

.vertical-align-top td {
  vertical-align: top;
}

table.no-borders td {
  border-bottom: none;
}

table.no-borders tbody tr:first-child {
  border-top: 1px solid black;
}

table.no-borders tr.border-bottom {
  border-bottom: 1px solid black;
}

#architecure svg {
  width: 960px;
}

a {
  color: $link-color;
}

a:hover {
  transition: color 0.5s ease-in-out;
  color: rgba($link-color, .75);
}

a:active, a:focus {
  outline-style: none;
  -moz-outline-style:none;
}

nav {
  margin-top: $big-margin;
	margin-bottom: $big-margin;
  font-weight: 500;
}

.row.no-bottom-margin {
  margin-bottom: $standard-margin;
}

#logo-wide {
  margin-top: 11px;
}

header a,
header a:visited {
  text-decoration: none;
  color: $brand-color;
}

header a.menu-item:hover,
header a.menu-item.current {
  border-bottom-width: 3px;
  border-bottom-color: $brand-color;
  border-bottom-style: solid;
  color: $brand-color;
}

header ul {
  margin: 2px 0 0;
  padding: 0;
  font-size: 1.5rem;
  list-style-type: none;
  float: right;
}

header ul li {
  display: inline;
  margin-left: 7px;
}

nav #github-nav {
  background-color: $brand-color;
  color: white;
  border-radius: 5px;
  padding: 7px 14px;
}

#logo:hover,
nav #github-nav:hover {
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
}

body > div > div > p > a > img {
  width: 822px;
}
