<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Historische Geocoder</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/skeleton.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>
  <div class="container">
    <div class="row">
      {{ content }}
    </div>
  </div>
</body>
</html>
