<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Histograph</title>
  <meta name="description" content="Histograph - geocoding places of the past">
  <meta name="author" content="Waag Society">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/histograph.png">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/skeleton.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
  {% if page.d3 %}
  <script src="{{ site.baseurl }}/js/d3.min.js" charset="utf-8"></script>
  {% endif %}
</head>
<body>
  {% include header.html %}
  <div class="container">
    <div class="row">
      {{ content }}
    </div>
  </div>
</body>
  <!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.histograph.io","*.histograph.github.io"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.waag.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '14']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats.waag.org/piwik.php?idsite=14" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
  
</html>
