<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Histograph</title>
  <meta name="description" content="Histograph - historical geocoder">
  <meta name="author" content="Waag Society">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" type="image/png" href="images/histograph.png">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/skeleton.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
  {% if page.d3 %}
  <script src="{{ site.baseurl }}/js/d3.min.js" charset="utf-8"></script>
  {% endif %}
</head>
<body>
  {% include header.html %}
  <div class="container">
    <div class="row">
      {{ content }}
    </div>
  </div>
</body>
</html>
